@using Group = System.Text.RegularExpressions.Group
@using Microsoft.EntityFrameworkCore
@model List<Kaching.ViewModels.GroupVm>

@{  
    ViewData["Title"] = "Index";  
}  
  
<h1>List of Expense Groups</h1>  
<a asp-action="Create">Create</a>  

<table class="ui unstackable celled table">
    <thead>
    <tr><th>Id</th>
        <th>Name</th>
        <th>Members</th>
        <th>Created</th>
        <th>Personal</th>
        <th></th>
    </tr></thead>
    <tbody>
    @{ int i = 0; }
    @foreach (var group in Model)
    {
        <tr>
            <td>@group.GroupId</td>
            <td>@group.Name</td>
            <td>@group.Members.Count / @group.MaxMembers</td>
            <td>@group.Created</td>
            <td>@group.Personal</td>
            <td>
                @using (Html.BeginForm("Delete", "Groups", FormMethod.Post))
                {
                    @Html.Hidden("groupId", group.GroupId)
                    <button type="submit" class="ui red button" value="Delete">Delete</button>
                }
              
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>