@model IEnumerable<Kaching.ViewModels.TransferVM>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Transfers</h1>

<table class="ui celled table">
    <thead>
    <tr><th>Transfer Date</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Transfer Month</th>
    </tr></thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="Transfer Date">@item.Created.ToString("dd.MM.yy")</td>
            <td data-label="Sender">@item.SenderUserName</td>
            <td data-label="Receiver">@item.ReceiverUserName</td>
            <td data-label="Amount">€ @item.Amount</td>
            <td data-label="Transfer Month">@item.PaymentMonth</td>
        </tr>
    }
    </tbody>
    <tfoot class="full-width">
    <th colspan="5">
    <a class="ui right floated small primary labeled icon button" asp-action="Create">
        <i class="money bill alternate outline icon"></i> Add payment
    </a>
    </th>
    </tfoot>
</table>