@model IEnumerable<Kaching.ViewModels.TransferVm>


<partial name="/Views/Shared/_GroupNavbar.cshtml" />

<h1>Transfers</h1>

<table class="ui celled table">
    <thead>
    <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Period</th>
    </tr></thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Sender.UserName</td>
            <td>@item.Receiver.UserName</td>
            <td>@item.Currency.Symbol @item.Amount</td>
            <td>@item.PaymentMonthYear.ToString("MMMM yy")</td>
        </tr>
    }
    </tbody>
    <tfoot class="full-width">
    <th colspan="5">
    <a class="ui right floated small primary labeled icon button" asp-route-groupId="@ViewContext.RouteData.Values["groupId"]" asp-action="Create">
        <i class="money bill alternate outline icon"></i> Add payment
    </a>
    </th>
    </tfoot>
</table>