
@model Kaching.ViewModels.ExpenseIndexViewModel
<!-- UI Button trigger modal -->

<!-- UI Modal -->
<div class="ui right floated button" id="settlementmodal">
    Settlement
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Expenditures as per: @Model.CurrentDate
    </div>
    <div class="content">
        <div class="description">
   
            <table class="ui very basic collapsing celled table center aligned">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Paid</th>
                <th scope="col">Owes</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>

            
            @foreach (var item in Model.Persons)
            {
                <tr>
                    <td>@item.ConnectedUserName</td>

                    <td>€@item.SumOfExpenses</td>
                            
                    @if (@item.OwesOwed >= 0)
                    {
                        <td><p style="color: green"> € 0</p></td>
                        <td></td>
                    }
                    else
                    {
                        <td><p style="color: red">€ @Decimal.Negate(@item.OwesOwed)</p></td>
                        <td> <div class="ui button icon paymentremindertooltip" data-content="Send <em>early</em> payment reminder"
                                     onclick="disableButton()">
                            <i class="envelope icon"></i>
                        </div></td>
                    }
                </tr>
            }
            </tbody>
            </table>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Close
        </div>
        <div class="ui positive right labeled icon button">
            Settle month
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>