<partial name="/Views/Shared/_GroupNavbar.cshtml" />

@model List<Kaching.ViewModels.ExpenseVm>


@{
    var groupId = ViewContext.RouteData.Values["groupId"];
}

<h1>List of Expenses</h1>

<partial name="/Views/Expenses/_MonthNavbar.cshtml" />

<table class="ui unstackable celled table">
    <tbody>
    @foreach (var expense in Model)
    {
        string paymentText = expense.Paid ? " paid " : " will pay ";
        
        <tr>
            <td>@expense.Buyer.UserName @paymentText<strong> @expense.CurrencySymbol @expense.Price</strong> 
            for @expense.CategoryName <em data-emoji="@expense.CategoryIcon"></em>
            on @expense.PaymentDate.DayOfWeek @expense.PaymentDate.Day/@expense.PaymentDate.Month
            <em data-emoji=":calendar_spiral:"></em>
            @if (expense.Paid == false && expense.PaymentDate < DateTime.Now)
            {
                int daysOverdue = (DateTime.Now - expense.PaymentDate).Days;
                
                <a class="ui red label">@daysOverdue days overdue</a>   
            }
            <td>
            @if (@expense.Paid == false)
                {
                    @using (Html.BeginForm("Pay", "Expenses", FormMethod.Post))
                    {
                        @Html.Hidden("expenseId", expense.ExpenseId)
                        <input type="submit" class="ui green button" value="Pay"
                               onclick="return confirm('Are you sure you want to pay the expense?')">
                    }
                }
                </td>
            <td>
                <a asp-controller="Expenses" asp-action="Details" asp-route-groupId="@groupId" 
                   asp-route-expenseId="@expense.ExpenseId">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>