<partial name="/Views/Shared/_GroupNavbar.cshtml" />

@model List<Kaching.ViewModels.ExpenseVm>

<h1>List of Expenses</h1>  
<a asp-action="Create">Create</a>  

<table class="ui unstackable celled table">
    <thead>
    <tr><th>Date</th>
        <th>Item</th>
        <th>Paid</th>
        <th></th>
    </tr></thead>
    <tbody>
    @foreach (var expense in Model)
    {
        <tr>
            <td>@expense.PaymentDate</td>
            <td><strong>@expense.CurrencySymbol @expense.Price</strong> of @expense.CategoryName <em data-emoji="@expense.CategoryIcon"></em>
            <td>@expense.Paid</td>
            <td>
                <a asp-action="Details">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>